.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}       

.link {
    color: chartreuse;
}

.cardLink {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}